/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.logo{
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.header{
    background-color: blue;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 4px;
}

nav a {
    text-decoration: none;
    color: black;
}

.btn-order {
    background-color: rgb(149, 57, 235);
    color: black;
    padding: 10xp 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: aqua;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3.5rem;
}

.hero-content h2 {
    font-size: 2rem;
}

.btn-primary {
    background-color: chartreuse;
    color: magenta;
    margin-top: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

